@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "RIDIBatang";
}

.container {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}
.txt-left {
  text-align: left;
}
.form {
  width: 200px;
  padding: 3px;
  font-size: 14px;
  border: 1px solid #969595;
  border-right: none;
  border-radius: 6px 0px 0px 6px;
}
.formbt {
  width: 50px;
  padding: 3px 3px 4px 3px;
  font-size: 12px;
  color: #fff;
  background-color: rgb(4, 77, 4);
  border-color: #6b6a6a;
  border-radius: 0px 6px 6px 0px;
}
.bg-wh {
  background: white !important;
}

.pagination {
  display: flex;
  justify-content: right;
  margin-bottom: 35px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #969595;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

ul.pagination li:first-child {
  border-radius: 10px 0 0 10px;
}

ul.pagination li:last-child {
  border-radius: 0 10px 10px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: rgb(8, 92, 8);
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
